{% load static %}
<div class="row">
  <div class="span4">
    <img class="tile-image pull-center" alt="" src="{% static "img/first.png" %}"/>
    <p align="justify" >First is an international competition where students of all ages create robots to overcome an obstacle or challenge. First allows our students to work with professional engineers to enhance their experience. At Cranbrook we aim to provide the programs first delivers, so our club hosts multiple FLL teams as well as FTC teams.
    </p>
    <p><a class="btn" href="#">View details »</a>
    </p>
  </div>
  <div class="span4">
    <img class="tile-image pull-center" alt="" src="{% static "img/cklogo.png" %}" height="92"/>
    <p align="justify" >Cranbrook robotics club is a group of students from Cranbrook Kingswood Schools. A Cranbrook school is a prestigious preparatory boarding school in Bloomfield Hills, Michigan with distinguished alumni ranging from the runner up to the 2012 presidential election, Mitt Romney to small business owners.
    </p>
    <a class="btn" href="#" >View details »</a>
  </div>
  <div class="span4">
    <img class="tile-image pull-center" alt="" src="{% static "img/vex.gif" %}"/>
    <p align="justify" >VRC is another international competition that branches off of First, but it allows for cheaper, more accessible, and standardized products. At Cranbrook we run many VEX teams in the high school and middle school, but we will also be taking advantage of the latest VEX IQ and running elementary school teams as well.
    </p>
    <p><a class="btn" href="#">View details »</a>
    </p>
  </div>
</div>