<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container"><a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li {% if page == 'memberhome' %} class="active" {% endif %}><a href="/memberhome">Member Home</a>
          </li>
          <li><a href="#">My Teams</a>
            <ul>
              {% for team in request.user.groups.all %}
                <li {% if page == team.name %} class="active" {% endif %} ><a href="#">{{ Team(team).teamname }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="/logout">Sign Out</a>
          </li>
        </ul>
      </div>
      </div>
  </div>
</div>