<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container"><a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li {% if page == 'index' %} class="active" {% endif %}><a href="/">Home</a>
          </li>
          <li {% if page == 'news' %} class="active" {% endif %}><a href="#news">News</a>
          </li>
          <li {% if page == 'about' %} class="active" {% endif %}><a href="#about">About</a>
          </li>
          <li {% if page == 'vex' %} class="active" {% endif %}><a href="/vex">VEX</a>
            <ul>
              {% for team in vex_teams %}
                <li {% if page == team.name %} class="active" {% endif %} ><a href="#">{{ team.name }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li {% if page == 'vexiq' %} class="active" {% endif %}><a href="/vexiq">VEXIQ</a>
            <ul>
              {% for team in vexiq_teams %}
                <li {% if page == team.name %} class="active" {% endif %} ><a href="#">{{ team.name }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li {% if page == 'ftc' %} class="active" {% endif %}><a href="/ftc">FTC</a>
            <ul>
              {% for team in ftc_teams %}
                <li {% if page == team.name %} class="active" {% endif %} ><a href="#">{{ team.name }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li {% if page == 'fll' %} class="active" {% endif %}><a href="/fll">FLL</a>
            <ul>
              {% for team in fll_teams %}
                <li {% if page == team.name %} class="active" {% endif %} ><a href="#">{{ team.name }}</a></li>
              {% endfor %}
            </ul>
          </li>
          </ul>
        <ul class="nav pull-right">
          {% if request.user.is_authenticated %}
            <li><a href="/memberhome">Member Home</a>
          {% else %}
          <li><a href="#">Sign In</a>
            <ul class="login-list">
              <li>
                <div class="login-form">
                  <form id='login' method='post'>
                    {% csrf_token %}
                    <div class="control-group">
                      <input name="username" class="input login-field" type="text" placeholder="Email address"/>
                      <label class="login-field-icon fui-man-16" for="login-name"></label>
                    </div>
                    <div class="control-group">
                      <input name="password" class="input login-field" type="password" placeholder="Password"/>
                      <label class="login-field-icon fui-lock-16" for="login-pass"></label>
                    </div>
                    <div class="pull-right">
                      <label class="checkbox rememberme">
                        <input class="palette" type="checkbox" value="remember-me">Remember</label>
                    </div>
                    <button class="btn btn-large btn-primary" type="submit" value="Submit">Sign In
                    </button>
                </form>
              </ul>
            </li>
          {% endif %}
          </li>
        </ul>
      </div>
      </div>
  </div>
</div>