<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  {% include "ckrobotics_django/head.html" %}
  <body>
    {% include "ckrobotics_django/preheader.html" %}
    <div class="container main">
      {% include "ckrobotics_django/navbar.html" %}
      <div class="row">
	      <div class="span3 bs-docs-sidebar">
	        <ul class="nav nav-list bs-docs-sidenav">
	          <li><a href="#download-bootstrap"><i class="icon-chevron-right"></i>Toss Up</a></li>
	          <li><a href="#file-structure"><i class="icon-chevron-right"></i>Sack Attack</a></li>
	          <li><a href="#contents"><i class="icon-chevron-right"></i>Gateway</a></li>
	          <li><a href="#html-template"><i class="icon-chevron-right"></i>Round Up</a></li>
	          <li><a href="#examples"><i class="icon-chevron-right"></i>Clean Sweep</a></li>
	          <li><a href="#what-next"><i class="icon-chevron-right"></i>Elevation</a></li>
	        </ul>
	      </div>
	      <div class="span9">
	      	<section id="roundup">
	      		<div class="page-header">
	            <h1>Toss Up</h1>
	          </div>
	          <iframe class="pull-center youtube" width="560" height="315" src="http://www.youtube.com/embed/3euUzfn0TwI" frameborder="0" allowfullscreen></iframe>
			      <p class="lead">
			      	The object of the game is to attain a higher score than the opposing Alliance by Scoring your colored BuckyBalls and Large Balls into the Middle Zone and Goal Zone, by Stashing your colored BuckyBalls and Large Balls into the Goals, and by Hanging or Hanging With A Ball, at various heights, off your colored Bar at the end of the match. There are a total of twenty (20) BuckyBalls and eight (8) Large Balls available as Scoring Objects in the game. Most Scoring Objects begin in designated locations on the field, while some are available to be loaded prior to the Match.
			      </p>
	          <div class="row-fluid">
	            <div class="span6">
	              <h2>Teams</h2>
	              <p>VEX Toss Up is played on a 12’x12’ square field configured as seen above. Two alliances – one “red” and one “blue” – composed of two teams each, compete in matches consisting of a fifteen second autonomous period followed by one minute and forty-five seconds of driver-controlled play.</p>
	            </div>
	            <div class="span6">
	              <h2>Rules</h2>
	              <p>Each Robot (smaller than 18”x18”x18” to start) begins a match on one of their Alliance Starting Tiles. There are two (2) scoring Zones and (2) Goals that Alliances can Score Objects into. Alliances also earn points for having Robots of their own color Hanging from their Hanging Bar at the end of the Match. A bonus is awarded to the Alliance that has the most total points at the end of the Autonomous Period.</p>
	            </div>
	          </div>
	        </section>
		    </div>
	    </div>
	  </div>
  </body>
</html>